body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  margin: 300px; /* Adjust the value as needed */
}

p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

#dp {
  margin-bottom: 20px;
  padding: 50px;

}

hr {
  border: 1px solid #ddd;
  margin: 20px 0;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 8px;
}

pre {
  font-size: 14px;
  white-space: pre-wrap;
  margin-bottom: 10px;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Apply additional styles for when the element is focused or hovered */
.form-select:focus,
.form-select:hover {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
