
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img  src="https://firebasestorage.googleapis.com/v0/b/bb-app-b5395.appspot.com/o/logo.png?alt=media&token=37c1f78a-a1b8-4da1-8006-50f9b87c813b" alt="alternatetext" width="230" height="150">
    <a class="navbar-brand" routerLink="/">Beauty & Beyond</a>
    <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link " routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" *ngIf="!isUser">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a>
        </li>
        <li class="nav-item" *ngIf="!isUser">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="isUser">
          <a class="nav-link" routerLink="/booking" routerLinkActive="active">Booking</a>
        </li>

        <li class="nav-item" *ngIf="isUser">
          <a class="nav-link" routerLink="/prices" routerLinkActive="active">Prices</a>
        </li>

        <li class="nav-item" *ngIf="isUser">
          <a class="nav-link" routerLink="/schedule" routerLinkActive="active">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About us</a>
        </li>

        <li class="nav-item" *ngIf="isUser">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </li>

        <li class="btn-primary" *ngIf="isUser">
          <a routerLink="/booking" class="btn btn-primary">Book Tid</a>
        </li>



      </ul>

    </div>
  </nav>


</div>

<div class="container" *ngIf="isUser" >
  <h2>Welcome, {{ userName$ | async }}</h2>
  <!-- Other content of the main page -->
</div>
