<div class="container">
  <h2>Prices</h2>

  <div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let price of prices">
      <div class="card">
        <img [src]="price.photoUrl" alt="{{ price.name }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ price.name }}</h5>
          <p class="card-text">{{ price.price }}</p>
          <a routerLink="/booking" class="btn btn-primary">Book Tid</a>
        </div>
      </div>
    </div>
  </div>
</div>
